/* This sets text decoration for anchar tag */
a {
    text-decoration: none;
}

/* This sets contain class as flex */
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* This sets Logo style and color */
#logo {
    font-family: 'Montez', cursive;
    color: blue;
    font-size: xx-large;

}

/* This sets Subheading style and color */
#subheading {
    font-family: 'Ubuntu Mono', monospace;
}

/* This sets button style and color */
.btn {
    background-color: blue;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 5px;
    font-family: 'Nunito Sans', sans-serif;
}