/* sets the background image for index.html */
body {
    background-image: url(../images/background.jpg);
    background-size: 250vh 100vh;
    ;
}

/* This sets contain class as flex */
.contain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 47%;
    text-align: center;
}

/* This sets post button style and color */
.btn-post {
    background-color: orange;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 5px;

}

/* This sets form style and color */
form {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 500px;
    font-family: 'Nunito Sans', sans-serif;
}

/* This sets main as flex and class style and color */
#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* This sets input tag style and color */
input {
    margin-top: 5px;
    margin-bottom: 16px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 5px;
    background-color: #f2f2f2;
    border: 0;
    height: 25px;

}

/* This sets form style and color */
.frm {
    margin-left: 15px;
    margin-right: 15px;
}

/* This sets form button style and color */
#fbt {
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;
    height: 40px;
    background-color: #66cc66;
    color: white;
    border: 0;
    font: bold;
    font-family: 'Nunito Sans', sans-serif;

}

/* This sets signin box style and color */
.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* This sets close button style and color */
#cross {
    margin-left: 15px;
    margin-right: 15px;
    color: #8c8c8c;
    size: 20px;
}

/* This sets signin class style and color */
#sign {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 360px;
    height: 360px;
    font-family: 'Nunito Sans', sans-serif;
}

/* This sets create post button style and color */
#create {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1200px;
    height: 500px;
    font-family: 'Nunito Sans', sans-serif;

}

/* This sets create button style and color */
#btn-create {
    margin-top: 16px;
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;
    width: 100px;
    height: 30px;
    background-color: #66cc66;
    color: white;
    border: 0;
    font: bold;
    font-weight: bold;
}

/* This sets textarea tag style and color */
textarea {
    margin-top: 5px;
    margin-bottom: 16px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 5px;
    background-color: #f2f2f2;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 230px;
}

/* This sets new post style and color */
#newpost {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1200px;
    height: 480px;
    font-family: 'Nunito Sans', sans-serif;
    padding-top: initial;
}

/* This sets new post button style and color */
#btn-newpost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* This sets pen style and color */
#pen {
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 200;
    font-size: x-large;
    color: #808080;
}